#signup-container{
    margin-top: 9%;
    margin-bottom: 5%;
}

.signup-box{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 600px;
    height: 650px;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.16);
    
}

#login-text-box{
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 12px;
    margin-bottom: 15px;
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(255, 123, 181, 0.2);
    color: #FF7BB5;
}

#bienvenido-text{
    margin-top: 0;
}

#instruction-login{
    font-family: monospace;
    margin-top: 0;
}

.text-field{
    width: 95%;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    border: 3px solid #37D6CF ;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline:none;
}

#button-login{
    width: 100%;
    font-family: monospace;
    padding: 10px;
    background-color: #37d6ce5b;
    color: #29a59f;

}

.password-field-login{
    margin-top: 0;
    width: 95%;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    border: 3px solid #FFD57C ;
    border-radius: 15px;
    margin-bottom: 20px;
    outline:none;
}

